/trash
*__pycache__
*.pytest_cache
/test_db/__pycache__
/test_db/.pytest_cache
/test_db/__init__.py
/test_db/db.sqlite

session_log.txt
*.sqlite
*.sqlite-shm
*.sqlite-wal

.env
*venv

.claude

*Captures_RAW/
*Captures_YOLO/
*yolo_captures/
*.pt